@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");

* {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.heightofscreens {
  min-height: 75vh;
}

.about-brand {
  font-family: "Exo 2", sans-serif;
  font-size: 300%;
  margin-top: 15%;
}

.product-tile {
  border-radius: 25px !important;
}

.product-title {
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin: auto;
}

.footer-link {
  text-decoration: none;
}
