.brand {
  font-family: "Exo 2", sans-serif;
  font-size: 1.7rem;
}

.custom-search-form {
  display: flex;
  width: 50% !important;
  padding: 0 0 0.7%;
}

.custom-search-input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 8px 10px !important;
  transition: border-color 0.3s !important;
}

.custom-search-input:focus {
  outline: none !important;
  border-color: #6554af !important;
  box-shadow: none !important;
}

.custom-clear-button {
  background-color: transparent !important;
  border: none !important;
  margin-right: 10px !important;
  color: #fff !important;
  border-radius: 0 !important;
  transition: background-color 0.3s !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.custom-search-button {
  background-color: #6554af !important;
  border: none !important;
  color: #fff !important;
  border-radius: 0 !important;
  transition: background-color 0.3s !important;
}

.custom-search-button:hover {
  background-color: #9575de !important;
}

@media (max-width: 991px) {
  .custom-search-form {
    width: 100% !important;
    padding: 7% 5%;
  }
  .nav-links {
    padding-bottom: 5%;
  }
}
